@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{margin: 0;padding:0;box-sizing: border-box;}
html, body {font-size: 16px;font-family: 'Roboto', sans-serif;background: #101317}
a{text-decoration: none;}
header{width:100%;height: 80px;position: fixed;z-index: 1;background: #0a0b0c;}
.container {
    width: 1200px;
    margin: 0 auto;
}
#logo {margin: 35px;}
#menu {
    width: 100%;
    display: inline-block;
    position: relative;
}
#m-btn {color: #ffa214;font-size: 26px;display: none;}
#menu-items .menu-item, .login {
    display: inline-block;
    padding: 8px 25px;
    color: #fff;
    list-style: none;
    position: relative;
    top: 18px;
}
#menu-items .menu-item:hover{transform: scale(1.2);transition: linear .1s;color: #ffa214;}
.login {margin-left: auto;position: absolute;right: 0;border: 1px solid #ffa214;color: #ffa214;}
.login:hover{background: #ffa214;color: #fff;transition: linear .2s;}
#login {width: 1200px;height:100vh;margin: 0 auto;display: flex;justify-content: center;align-items: center;flex-direction: column; }
h1{color: #fff;position: absolute;top: 0;left: 20%;}
#twitch {color: #fff;position: absolute;top:0;right: 18%;padding: 8px;background: #924afe;border-radius: 4px;}
#form-login {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 40px 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    position: relative;
}
.field {
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
}
.btn {
    color: #ffa214;
    border: 1px solid #ffa214;
    background: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.btn:hover {background: #ffa214;color: #fff;transition: linear .2s;}
footer {width: 100%;padding: 12px;background: #0a0b0c;color: #fff;text-align: center;position: absolute;bottom: 0;}

@media only screen and (max-width: 900px) {
    #m-btn {display: inline-block;position: absolute;right: 35px;top: 15px;}
    header{height: 60px;}
    #logo {width: 200px;height: 50px;}
    .container, #login, #menu, #form-login {width: 100%;}
    #menu-items {display: none;position: relative;top: 35px;}
    .item-box {display: block;width: 90%;margin: 12px auto;}
    #menu-items .login, #menu-items .menu-item {
        display: block;
        width: 100%;
        border: none;
        background: #1e2630;
        position: relative;
        top: 25px;
        color: #fff;
        padding: 25px;
    }
    .field {width: 99%;}
    h1 {left: 7%;}
    #twitch {right: 7%;}
}