@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{margin: 0;padding:0;box-sizing: border-box;}
html, body {font-size: 16px;font-family: 'Roboto', sans-serif;background: #101317}
a{text-decoration: none;}
header{width:100%;height: 80px;position: fixed;z-index: 1;background: #0a0b0c;}
.container {
    width: 1200px;
    margin: 0 auto;
}
#logo {margin: 15px;}
#menu {
    width: 75%;
    display: inline-block;
    position: relative;
    bottom: 25px;
}
#menu-items {width: 100%;}
#menu-items .menu-item, .login {
    display: inline-block;
    padding: 8px 25px;
    color: #fff;
    list-style: none;
}
#menu-items .menu-item:hover{transform: scale(1.2);transition: linear .1s;color: #ffa214;}
#m-btn {color: #ffa214;font-size: 26px;display: none;}
.login {margin-left: auto;position: absolute;right: 0;border: 1px solid #ffa214;color: #ffa214;}
.login:hover{background: #ffa214;color: #fff;transition: linear .2s;}
#items{width: 1200px;margin: 0 auto;padding-top: 80px;}
.item-box {
    width: 358px;
    height: 620px;
    background: #1e2630;
    padding: 5px;
    display: inline-block;
    margin: 6px;
    vertical-align: top;
    text-align: center;
    position: relative;
}
.item-img {width: 100%;height: 180px;}
.item-id {
    width: fit-content;
    padding: 5px;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 4px;
    color: #fff;
    background: #ffa214;
}
.item-info {padding: 0 14px;height: 85px;position: relative;}
.item-info hr {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
hr {border-color: #ffa214;width: 80%;margin: 5px auto;}
.item-description {color: #fff;padding:  12px 25px;text-align: left;}
.item-title {margin-top: 12px;color: #fff;font-weight: 400;}
.item-old-price {margin: 15px 0;color: #7c7c7c;text-decoration: line-through;text-align: center;position: absolute;bottom: 0px;left: 35px}
.item-price {margin: 15px 0;color: #ffa214;text-align: center;position: absolute;bottom: 0px;right: 35px}
.item-footer {
    width: 100%;
    position: absolute;
    bottom: 25px;
    left: 0;
    background: #1e2630;
}
.preview{color: #fff;text-align: center;position: relative;top: 15px;}
.preview:hover {color: #c27500;}
footer {padding: 12px;background: #0a0b0c;color: #fff;text-align: center;margin-top: 15px;}

@media only screen and (max-width: 900px) {
    #m-btn {display: inline-block;position: absolute;right: 35px;top: 15px;}
    header{height: 60px;}
    #logo {width: 100px;height: 25px;}
    .container, #items, #menu {width: 100%;}
    #menu-items {display: none;background: #1d2125;margin-top: 25px;}
    #menu-items .login, #menu-items .menu-item, #menu-items .entrar {
        display: block;
        width: 100%;
        border: none;
        position: relative;
        background: #1d2125;
        right: 0;
        color: #fff;
        padding: 25px;
    }
    #items {text-align: center;}
    #menu-items .menu-item:hover {transform: scale(1);}
}