@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{margin: 0;padding:0;box-sizing: border-box;}
html, body {font-size: 16px;font-family: 'Roboto', sans-serif;background: #101317}
a{text-decoration: none;}
header{width:100%;height: 80px;position: fixed;z-index: 1;background: #0a0b0c;}
.container {
    width: 1200px;
    margin: 0 auto;
}
#logo {margin: 15px;}
#menu {
    width: 75%;
    display: inline-block;
    position: relative;
    bottom: 25px;
}
#menu-items {width: 100%;}
#menu-items .menu-item, .login {
    display: inline-block;
    padding: 8px 25px;
    color: #fff;
    list-style: none;
}
#m-btn {color: #ffa214;font-size: 26px;display: none;}
#menu-items .menu-item:hover{transform: scale(1.2);transition: linear .1s;color: #ffa214;}
.login {margin-left: auto;position: absolute;right: 0;border: 1px solid #ffa214;color: #ffa214;}
.login:hover{background: #ffa214;color: #fff;transition: linear .2s;}
#ranking{width: 1200px;height:100vh;margin: 0 auto;padding-top: 150px; }
table {width: 100%;text-align: left;border-collapse: collapse;color: #aaa;}
.pos {width: 100px;}
.pixel {width: 20%}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){background: #1d2125;color: #fff;}

th {
  background: #ffa214;
  color: white;
}
h1 {color: #fff;margin-bottom: 15px;}
footer {width: 100%;padding: 12px;background: #0a0b0c;color: #fff;text-align: center;}
@media only screen and (max-width: 900px) {
    #m-btn {display: inline-block;position: absolute;right: 35px;top: 15px;}
    body {overflow-y: hidden;}
    header{height: 60px;}
    table{width: 100%;}
    #logo {width: 100px;height: 25px;}
    .container, #ranking, #menu {width: 100%;}
    #ranking {padding-top: 80px;}
    #menu-items {display: none;}
    .item-box {display: block;width: 90%;margin: 12px auto;}
    #menu-items .login, #menu-items .menu-item {
        display: block;
        width: 100%;
        border: none;
        background: #1e2630;
        position: relative;
        top: 25px;
        color: #fff;
        padding: 25px;
    }
    #menu-items .menu-item:hover {transform: scale(1);}
}
